.goods_box {
    background: #F6F6F6;
    padding-top: 3rem;
    &_title {
        margin-bottom: 3.6rem;
        font-family: PingFang SC, PingFang SC;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 2rem;
        color: #70707B;
        padding: 0 30.1rem;
    }
    &_info {
        padding: 0 30.1rem 8rem 30.1rem;
        box-sizing: border-box;
        display: flex;
        &_img {
            display: flex;
            width: 60.6rem;
            &_list {
                height: 48.9rem;
                overflow-y: scroll;
                display: flex;
                flex-direction: column;
                width: 8.8rem;
                margin-right: 3rem;
                &_single {
                    width: 8.8rem;
                    height: 8.8rem;
                    margin-bottom: 1.2rem;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid transparent;
                    box-sizing: border-box;
                    &_img {
                        width: 8.8rem;
                        height: 8.8rem;
                    }
                }
                &_single:hover {
                    border-color: #333333;
                }
            }
            &_big {
                width: 48.9rem;
                &_img {
                    width: 48.9rem;
                    height: 48.9rem;
                }
            }
        }
        &_base {
            height: 48.9rem;
            padding-left: 12rem;
            flex: 1;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: center;
            &_name {
                height: 9rem;
                font-family: PingFang SC, PingFang SC;
                font-weight: 600;
                font-size: 6.4rem;
                color: #000000;
                margin-bottom: 1.1rem;
            }
            &_price {
                height: 5rem;
                line-height: 5rem;
                font-family: PingFang SC, PingFang SC;
                font-weight: 600;
                font-size: 3.6rem;
                color: #000000;
                margin-bottom: 3.2rem;
            }
            &_property {
                height: 2.8rem;
                display: flex;
                align-items: center;
                font-family: PingFang SC, PingFang SC;
                font-weight: 400;
                font-size: 1.6rem;
                color: #70707B;
            }
            &_action {
                display: flex;
                align-items: center;
                position: relative;
                margin-bottom: 1.6rem;
                margin-top: 3.2rem;
                &_item {
                    padding: 0 2.4rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    font-family: PingFang SC;
                    height: 5.9rem;
                    outline: 0;
                    text-align: center;
                    font-family: PingFang SC, PingFang SC;
                    font-weight: 600;
                    font-size: 1.8rem;
                    cursor: pointer;
                    border-radius: 3.2rem;
                    box-sizing: border-box;
                    &_icon {
                        margin-left: 1.6rem;
                        width: 2rem;
                        height: 2rem;
                    }
                }
                &_item.addcart {
                    background: #6E4AEB;
                    margin-right: 2rem;
                    color: #ffffff;
                }
                &_item.buynow {
                    color: #242426;
                    border: 0.1rem solid #242426;
                }
            }
            &_collect {
                height: 2.2rem;
                display: flex;
                align-items: center;
                cursor: pointer;
                font-family: PingFang SC, PingFang SC;
                font-weight: 600;
                font-size: 1.8rem;
                color: #242426;
                &_icon {
                    width: 2rem;
                    height: 2rem;
                    margin-right: 1rem;
                }
            }
        }
    }
}