.goods_view {
    padding: 9.7rem 30.1rem 13.6rem 30.1rem;
    box-sizing: border-box;
    background: #F6F6F6;
    &_title {
        height: 5.4rem;
        font-family: PingFang SC, PingFang SC;
        font-weight: 600;
        font-size: 3.9rem;
        color: #000000;
        margin-bottom: 7.8rem;
    }
}