.home_view {
    &_swiper {
        margin-bottom: 9.7rem;
    }
    &_product {
        padding: 9.7rem 30.1rem 13.2rem 30.1rem;
        box-sizing: border-box;
        background: #F6F6F6;
        &_title {
            height: 5.6rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-family: PingFang SC, PingFang SC;
            font-weight: 600;
            font-size: 3.9rem;
            color: #000000;
            margin-bottom: 7.6rem;
            &_btn {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 15.1rem;
                height: 5.6rem;
                border-radius: 3.1rem;
                border: 0.01rem solid #000000;
                font-family: PingFang SC, PingFang SC;
                font-weight: 400;
                font-size: 2.3rem;
                color: #000000;
                cursor: pointer;
                &_icon {
                    width: 2.3rem;
                    height: 2.3rem;
                    margin-left: 1.2rem;
                }
            }
        }
    }
    &_vedio {
        padding: 13.2rem 30.1rem;
        box-sizing: border-box;
        background: #ffffff;
        &_url {
            width: 100%;
        }
    }
    &_banner {
        width: 100%;
        &_img {
            width: 100%;
        }
    }
    &_ledger {
        padding: 11.1rem 30.1rem 8.6rem 30.1rem;
        box-sizing: border-box;
        background: #F6F6F6;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &_img {
            width: 65.4rem;
            height: 59.8rem;
        }
        &_main {
            p {
                margin-bottom: 2.7rem;
                line-height: 6.8rem;
                font-family: PingFang SC, PingFang SC;
                font-weight: 600;
                font-size: 4.8rem;
                color: #242426;
                span {
                    color: #6E4AEB;
                }
            }
        }
    }
    &_introduce {
        padding: 9.2rem 30.1rem 13.2rem 30.1rem;
        box-sizing: border-box;
        background: #F6F6F6;
        &_title {
            height: 5.4rem;
            font-family: PingFang SC, PingFang SC;
            font-weight: 600;
            font-size: 3.9rem;
            color: #242426;
            margin-bottom: 1.2rem;
            line-height: 100%;
            span {
                color: #6E4AEB;
            }
        }
        &_desc {
            height: 3.3rem;
            font-family: PingFang SC, PingFang SC;
            font-weight: 400;
            font-size: 2.3rem;
            color: #242426;
            line-height: 100%;
            margin-bottom: 10.7rem;
        }
        &_list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            &_item {
                position: relative;
                width: 40.7rem;
                height: 47.7rem;
                background: #FFFFFF;
                border-radius: 1.9rem;
                padding: 8.4rem 2.3rem 0 2.3rem;
                box-sizing: border-box;
                &_icon {
                    position: absolute;
                    left: 0;
                    top: -7.6rem;
                    width: 19.4rem;
                    height: 15.3rem;
                }
                &_name {
                    height: 3.8rem;
                    line-height: 3.8rem;
                    font-family: PingFang SC, PingFang SC;
                    font-weight: 600;
                    font-size: 2.7rem;
                    color: #242426;
                    margin-bottom: 1.9rem;
                }
                &_desc {
                    height: 5.4rem;
                    line-height: 2.7rem;
                    font-family: PingFang SC, PingFang SC;
                    font-weight: 400;
                    font-size: 1.9rem;
                    color: #70707B;
                    margin-bottom: 0.05rem;
                }
                &_img {
                    width: 28.8rem;
                    height: 27.6rem;
                    margin: 0 auto;
                }
            }
        }
    }
}
